.filters{
    flex: 1;
    /* background-color: red; */
    position: sticky;
    display: flex;
    flex-direction: column;

}

.filters-search{
    width: 70%;
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
    display: flex;

    
}
.filters-search input{
    width: 100%;
    border: none;
    margin-left: 6px;
    font-size: 16px;
    outline: none;
}
.filter-category{
    display: flex;
    flex-direction: column;
    margin: auto 0px auto 0px;
    padding: 15px;
    
    max-width: 70%;

}
.filter-category-title{
    
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    
}
.filter-category-buttons{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    
    

}
.filter-category-button{
    
    outline: none;
    border: none;
    margin-bottom: 16px;
    font-size: 17px;
    width: 100px;
    background-color: white;
    text-align: left;
    font-weight: 400;
    color: #1D1D1DCC;
    cursor: pointer;
}
.button-active{
    border-bottom: 1px solid maroon;
    
}
.filter-category-button:hover{
    color: cadetblue;
}

.filters-price-banner{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.filters-clear-button{
    padding: 10px;
    background-color: maroon;
    color: white;
    text-align: center;
    width: 40%;
    font-size: 18px;
    margin-top: 35px;
    cursor: pointer;
}